<h1>Create New User</h1>


<form method="POST">

<label>
Username
</label>

<input 
type="text"
name="username"
required>


<br>


<label>
Full name
</label>

<input 
type="text"
name="name"
required>


<br>


<label>
Role
</label>

<select name="user_role">

<option value="Intern">
Stagair
</option>

<option value="QC Chemist">
QC 
</option>

<option value="R&D Chemist">
R&D 
</option>

<option value="admin">
Admin
</option>

<option value="management">
Management
</option>

<option value="sales">
Sales
</option>

</select>


<br>


<button type="submit">
Create User
</button>


</form>