<h1>Create New User</h1>


<form method="POST">

<label>
Username
</label>

<input 
type="text"
name="username"
required>


<br>


<label>
Full name
</label>

<input 
type="text"
name="name"
required>


<br>


<label>
Role
</label>

<select name="user_role">

<option value="Intern">
Intern
</option>

<option value="QC Chemist">
QC Chemist
</option>

<option value="R&D Chemist">
R&D Chemist
</option>

<option value="R&D/QC Chemist">
R&D/QC Chemist
</option>

<option value="admin">
Admin
</option>

</select>


<br>


<button type="submit">
Create User
</button>


</form>