{% extends "base.html" %}

{% block title %}
Zettex ELN
{% endblock %}

{% block content %}

<h1>EPDM Hechting</h1>

<div class="page-navigation">
    <a href="{{ url_for('tests') }}" class="back-button">
        Terug naar test overzicht
    </a>
</div>

<div class="test-grid">
    <a class="test-card"
       href="{{ url_for('epdm_adhesion_prep') }}">
        EPDM Hechting inzetten
    </a>
    <a class="test-card"
       href="{{ url_for('epdm_adhesion_test') }}">
        EPDM Hechting testen
    </a>
</div>

{% endblock %}