{% extends "base.html" %}

{% block title %}
Zettex ELN
{% endblock %}

{% block content %}

<h1>Uitharding in diepte</h1>

<div class="page-navigation">
    <a href="{{ url_for('tests') }}" class="back-button">
        Terug naar test overzicht
    </a>
</div>

<div class="test-grid">
    <a class="test-card"
       href="{{ url_for('curability.curability_prep') }}">
        Batches inzetten
    </a>
    <a class="test-card"
       href="{{ url_for('curability.curability_test') }}">
        Batches meten
    </a>
</div>

{% endblock %}