{% extends "base.html" %}

{% block title %}
Zettex ELN
{% endblock %}

{% block content %}

<h1>Curability</h1>

<div class="page-navigation">
    <a href="{{ url_for('tests') }}" class="back-button">
        Back to test Overview
    </a>
</div>

<div class="test-grid">
    <a class="test-card"
       href="{{ url_for('curability_prep') }}">
        Prepare Specimens
    </a>
    <a class="test-card"
       href="{{ url_for('curability_test') }}">
        Perform Test
    </a>
</div>

{% endblock %}