{% extends "base.html" %}

{% block title %}
Zettex ELN
{% endblock %}

{% block content %}

<h1>Batch Zoeken</h1>

<form method="POST">

    <input
        type="text"
        name="batch_nr"
        placeholder="Enter batch number"
        required
    >

    <button type="submit">
        Zoeken
    </button>

</form>

{% if batch %}

<hr>
<h2>
    Batch: {{ batch.batch_nr }}
</h2>
<p>
    <strong>Product:</strong>
    {{ batch.product_name }}
</p>

{% if batches %}
<p>
    <strong>Samples meegenomen in berekening:</strong>
    {% for item in batches %}
        {{ item.batch_nr }}
        {% if not loop.last %}, {% endif %}
    {% endfor %}
</p>
{% endif %}
<h2>Test Resultaten</h2>
{% if results %}
<table>
    <thead>
        <tr>
            <th>Test</th>
            <th>Resultaat</th>
        </tr>
    </thead>
    <tbody>
    {% for test in results %}
        <tr>
            <td>
                {{ test.test_name }}
            </td>
            <td>
                {% for name, value in test["values"].items() %}
                    <strong>{{ name }}:</strong>
                    {% if value is not none %}
                        {{ value }}
                    {% else %}
                        -
                    {% endif %}
                    <br>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}

<p>
    Geen testresultaten gevonden.
</p>

{% endif %}

{% if remarks %}
<hr>
<h2>Opmerkingen</h2>
{% for remark in remarks %}
    <div class="batch-remark">
        <strong>
            {{ remark.batch_nr }}
        </strong>
        <div style="white-space: pre-line;">
            {{ remark.remark }}
        </div>
    </div>
    <br>
{% endfor %}
{% endif %}
{% endif %}
{% endblock %}