{% extends "base.html" %}

{% block title %}
Zettex ELN
{% endblock %}

{% block content %}

<div class="login-container">
    <h1>Wachtwoord wijzigen</h1>

    <p>
    Kies een nieuw wachtwoord.
    </p>

        {% if error %}
        <p class="login-error">
        {{ error }}
        </p>
        {% endif %}

    <form method="POST">

        <label>Nieuw Wachtwoord</label>

        <input
        type="password"
        name="password1"
        required>

        <label>Herhaal Wachtwoord</label>

        <input
        type="password"
        name="password2"
        required>
            <button type="submit">
                Wachtoord opslaan
            </button>
        </form>
</div>

{% endblock %}