{% extends "base.html" %}

{% block title %}
Zettex ELN
{% endblock %}

{% block content %}

<div class="login-container">
    <h1>Change Password</h1>

    <p>
    Please choose a new password.
    </p>

        {% if error %}
        <p class="login-error">
        {{ error }}
        </p>
        {% endif %}

    <form method="POST">

        <label>New Password</label>

        <input
        type="password"
        name="password1"
        required>

        <label>Repeat Password</label>

        <input
        type="password"
        name="password2"
        required>
            <button type="submit">
                Save Password
            </button>
        </form>
</div>

{% endblock %}