{% extends "base.html" %}

{% block title %}
Zettex ELN
{% endblock %}

{% block content %}

<div class="page-navigation">
    <a href="{{ url_for('tests') }}" class="back-button">
        Back to test Overview
    </a>
</div>

<div class="timer-box">

    <h3>Timer</h3>
    <div id="timer-display">
        00:00:00
    </div>

    <div class="timer-buttons">
        <button type="button" id="start-timer">
            Start
        </button>
        <button type="button" id="stop-timer">
            Stop
        </button>
        <button type="button" id="reset-timer">
            Reset
        </button>
    </div>
</div>
<div class="skin-header">
    <h1>Skin Formation</h1>
</div>

<form method="POST">
    <table id="batch-table">
        <thead>
            <tr>
                <th>Batch</th>
                <th>Tack Free (min)</th>
                <th>Temp (°C)</th>
                <th>RH (%)</th>
                <th>Skin Time (min)</th>
                <th>Temp (°C)</th>
                <th>RH (%)</th>
                <th>Remark</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="batch-body">
         </tbody>
    </table>
    <br>
    <button type="button" id="add-row">
        + Add Batch
    </button>
    <button type="submit">
        Save All Results
    </button>
</form>

<template id="batch-row-template">
<tr class="batch-row">
    <td>
        <select name="sample_id[]" required>
            <option value="">Select Batch...</option>
            {% for sample in samples %}
            <option value="{{ sample.sample_id }}">
                {{ sample.display_name }}
            </option>
            {% endfor %}
        </select>
        <input type="hidden" name="afterstorage_id[]" value="">
    </td>
    <td>
        <input type="number" step="0.1" name="tack_free_time[]" min="1" max="60" required>
    </td>
    <td>
        <input type="number" step="0.1" name="temp_tack_free_time[]" min="15.0" max="50.0" required>
    </td>
    <td>
        <input type="number" step="0.1" name="rh_tack_free_time[]" min="0.0" max="100.0" requiered>
    </td>
    <td>
        <input type="number" step="0.1" name="skinformation_time[]" min="1" max="60" required>
    </td>
    <td>
        <input type="number" step="0.1" name="temp_skinformation_time[]" min="15.0" max="50.0" required>
    </td>
    <td>
        <input type="number" step="0.1" name="rh_skinformation_time[]" min="0.0" max="100.0" requiered>
    </td>
    <td>
        <input type="text" name="remark[]" class="remark-input">
    </td>
    <td>
        <button type="button" class="remove-row">
            ❌
        </button>
    </td>
</tr>
</template>

<script src="{{ url_for('static', filename='js/skinformation.js') }}"></script>
<script src="{{ url_for('static', filename='js/timer.js') }}"></script>

{% endblock %}