{% extends "base.html" %}

{% block title %}
Zettex ELN
{% endblock %}

{% block content %}

<h1>Tensile Strength</h1>

<div class="page-navigation">
    <a href="{{ url_for('tests') }}" class="back-button">
        Back to test Overview
    </a>
</div>

<div class="test-grid">
    <a class="test-card"
       href="{{ url_for('tensile_prep') }}">
        Prepare Dumbells
    </a>
    <a class="test-card"
       href="{{ url_for('tensile_measure') }}">
        Measure Dumbells
    </a>
    <a class="test-card"
       href="{{ url_for('tensile_test') }}">
        Perform Test
    </a>
</div>

{% endblock %}