{% extends "base.html" %}

{% block title %}
Zettex ELN
{% endblock %}

{% block content %}

<h1>Treksterkte</h1>

<div class="page-navigation">
    <a href="{{ url_for('tests') }}" class="back-button">
        terug naar test overzicht
    </a>
</div>

<div class="test-grid">
    <a class="test-card"
       href="{{ url_for('tensile.tensile_prep') }}">
        Dumbell mallen vullen
    </a>
    <a class="test-card"
       href="{{ url_for('tensile.tensile_measure') }}">
        Dumbells meten
    </a>
    <a class="test-card"
       href="{{ url_for('tensile.tensile_test') }}">
        Test uitvoeren
    </a>
</div>

{% endblock %}