{% extends "base.html" %}

{% block title %}
Zettex ELN
{% endblock %}


{% block content %}

<div class="page-navigation">
    <a href="{{ url_for('tensile.tensile') }}" class="back-button">
        Terug naar Treksterkte overzicht
    </a>
</div>

<h1>Treksterkte - Dumbell mallen Vullen</h1>
<div class="container">
    <!-- LEFT PANEL -->
    <div class="left-panel">
        <h2>Nieuwe Dumbell Vullen</h2>
        <form method="POST">
            <label>Selecteer Batch</label>
            <select name="sample_id" required>
                <option value="">
                    Selecteer Batch...
                </option>
                {% for sample in samples %}
                <option value="{{ sample.sample_id }}">
                    {{ sample.batch_nr }} - {{ sample.product_name }}
                 </option>
                {% endfor %}
            </select>
            <br><br>
            <label>Opmerking</label>
            <textarea name="remark" class="remark-input"></textarea>
            <br><br>
            <button type="submit">
                Registereer Batch
            </button>
        </form>
    </div>
    <!-- RIGHT PANEL -->
    <div class="right-panel">
        <h2>Batches gevuld</h2>
        <p>
            Deze batches zijn aan het uitharden en zullen beschikbaar zijn
            voor treksterkte testen na 7 dagen.
        </p>
        <table>
            <tr>
                <th>Batch</th>
                <th>Product</th>
                <th>Datum gevuld</th>
                <th>Status</th>
            </tr>
            {% for sample in prepared %}
            <tr>
                <td>
                    {{ sample.batch_nr }}
                </td>
                <td>
                    {{ sample.product_name }}
                </td>
                <td>
                    {{ sample.prepared_date.strftime('%d-%m-%Y') }}
                </td>
                <td>
                    {% set days = (today - sample.prepared_date.date()).days %}
                    {% if days >= 7 %}
                        Ready for Testing
                    {% else %}
                        {{ days }} / 7 days curing
                    {% endif %}
            </td>

            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}